// Normally mainpage media styles
// You can read about usage in https://github.com/paranoida/sass-mediaqueries 


//styles for custom device width
@include mq($max-width: 1400px) {
	.about_wrap .float_left{
		margin-left: 0;
		width: 60%;
		img{
			max-width: 100%;
		}
	}
}

@include mq($max-width: 1100px) {
  .container{
  	width: auto;
  	padding-left: 10px;
  	padding-right: 10px;
  }
  .foot_left {
  	padding-right: 30px;
  }
  .foot_center{
  	width: 300px;
  }
  img{
  	max-width: 100%
  }
  .benefits_block .benefits_left{
  	width: 385px;
  	box-sizing: border-box;
  	padding: 0 10px;
  }
  .menu li{
  	padding: 0 3px;
  }
  .solution_steps figure:before{
  	display: none;
  }
  .contact_img{
  	display: none;
  }
  .contact_side{
  	float: none;
  	margin: 0 auto;
  	padding-bottom: 20px;
  }
  .model_wrap{
  	justify-content: space-around;
  }
	
//process
.process{
	
}
.process__row{
	background:#bbe1f8;
	flex-direction: column;
	text-align: center;
	display: block;
}
.process__block{
	background:#bbe1f8;
	margin: 30px auto;
	padding-left: 0;
	min-height: 100px;
	img{
		display: none;
	}
}
.process__item-img{
	height: auto;
	.yes, .no{
		display: none;
	}
}
.process__main-title img{
	display: none !important;
}
.process__main-title section, .process__item section{
	height: auto;
	margin: 0 !important;
	padding: 0;
	border: none !important;
}
.process__item{
	width: 100%;
	display: block;
	padding: 20px 15px;
}
.process__main-title{
	&.text_right, &.text_left{
		text-align: center !important;
	}
}	
.process__journey{
	width: 100%;
	margin: 20px auto;
	padding: 0;
	
}
.process__cloud{
	width: auto;
	text-align: center;
	margin: 20px 0;
}
.process__cloud p{
	position: static;
	padding: 20px ;
	box-sizing: border-box;
	width: 100%;
}
.process__row.phase5{
	padding-bottom: 50px;
}
.process__speed{
	width: auto;
	height: auto;
	padding: 50px 0 0 0;
}
.process__row.phase7 .process__main-title{
	padding-top: 30px;
}
.process h1{
	text-align: center;
}
//end - process


}
@include mq($max-width: 1000px) {
	.solution_logo{
		position: static;
	}
	.solutions_wrap{
		background: none;
		height: auto;
		figure{
			position: static;
			font-size: 14px;
			width: 49%;
			padding-bottom: 20px;
			border-left: 3px solid #dedede;
			box-sizing: border-box;
			&.solution6 {
				width: 49%;
			}
			&:nth-child(odd){
				border: none;
			}
		}
	}
	.solutions_block{
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
	  align-items: center;
	  position: relative;
	  padding-top: 14px;
	}
	.smarter_block{
		figure{
			padding: 0 0 20px 0;
			&:first-child, &:nth-child(2){
				&:before{
					display: none;
				}
			}
			&:nth-child(2){
				&:after{
					display: none;
				}
			}
			&:nth-child(4){
				margin-left: 0px;
			}
			&:nth-child(5){
				margin-right: 0px;
			}
		}
	}
	.integration_content figure{
		width: 200px;
		height: auto;
		padding: 0 10px 10px 0;
	}
}
@include mq($max-width: 910px) {
	.benefits_block {
		& > div{
			display: block;
			float: none !important;
			width: 100% !important;
			border: none !important;
			height: auto;
			margin-bottom: 30px;
			&.benefits_left {
				text-align: center;
			}
			figure{
				border-bottom: 1px solid #dcdcdc;
				padding-top: 30px;
				padding-bottom: 30px;
			}
		}
	}
	.foot_left, .foot_center{
		width: 50%;
		box-sizing: border-box;
	}
	.foot_right{
		width: 100%;
		float: none;
		clear: both;
		text-align: center;
		padding-top: 20px;
	}
	.about_wrap {
		.float_left{
			float: none !important;
			text-align: center;
			margin-left: 0;
			width: 100%;
		}
	}
	.bnr2{
		height: auto;
		background-size: cover;
		padding: 20px 0;
		text-align: center;
		section{
			width: 100%;
			float: none;
			text-align: center;
			padding-top: 0;
		}
		.button{
			float: none;
			margin-top: 20px;
		}
	}
	.floating_form{
		display: none;
	}
	.product_slider_inner{
		img{
			width: 40%;
		}
	}
	.product_slider_txt{
		padding-left: 20px;
		box-sizing: border-box;
	}
	.bridge_block{
		text-align: center;
		& > div{
			float: none !important;
			width: 100%;
			padding-bottom: 20px;
			overflow: hidden;
		}
		figure, section{
			margin: 10px auto;
			float: none;
		}
	}	
}

@include mq($max-width: 790px) {
	.header{
		height: auto;
		min-height: 100px;
	}
	.menu_trigger{
		display: block;
	}
	.head_right{
		button, .button{
			display: none;
		}
	}
	.menu{
		display: none;
		clear: both;
		text-align: right;
		padding: 10px 0;
		li{
			display: block;
			a{
				font-size: 20px;
				padding: 10px 0;
			}
		}
	}
	.capabilities_block figure figcaption{
		display: block;
		text-align: center;
		width: 100%;
	}
	.capabilities_block figure img{
		padding: 0 0 10px 0;
		display: block;
		margin: 0 auto;
	}
	.c25{
		width: 50%;
	}
	.posts_select_item.txt{
		background-size: cover;
	}
	.posts_select_item{
		img{
			width: 100%;
		}
	}
}

@include mq($max-width: 760px) {
	.preferences_block figure{
		border: none;
		&:before{
			display: none;
		}
	}
	.preferences_block figure:nth-child(4){
		margin-left: 0;
	}
	.preferences_block{
		width: auto;
		float: none;
		figure{
			width: 33%;
			box-sizing: border-box;
		}
	}

	.about_wrap .ovh{
		padding-top: 50px;
		text-align: center;
	}

	.bnr_txt p{
		padding: 0 10px;
	}
	.bnr_txt h6{
		font-size: 30px;
	}
	.bnr_bg{
		video{
			display: none;
		}
	}
	.product_slider_nav{
		flex-wrap: wrap;
		a{
			width: 20%;
		}
	}
	.product_slider_txt{
		font-size: 20px;
	}
	.solution_steps .solution_steps_block{
		display: block;
	}
	.solution_steps figure{
		margin: 10px auto;
		padding-bottom: 20px;
		width: 100%;
	}
	.integration_tabs{
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}
		.integration_tabs li a{
			padding: 1px 3px;
		}
	.integration_content{
		height: auto;
		overflow: hidden;
	}
	.feedback_wrap .container{
		width: auto;
		margin: 0 10px
	}
	.feedback_steps li.active:before{
		width: 140%;
	}
	.feedback_button .button{
		width: 100%;
	}
}

@include mq($max-width: 550px) {
	.preferences_block{
		figure{
			width: 50%;
		}
	}
	.tag_block figure{
		width: 100%;
		display: block;
	}
	.foot_bottom {
		.float_left, .float_right{
			display: block;
			float: none !important;
			text-align: center;
			padding: 5px 0;
		}
	}
	.posts_select_item.txt h6{
		font-size: 18px;
	}
	.features figure{
		padding-left: 0;
		padding-right: 0;
	}
	.faq_answer{
		padding-right: 10px;
	}
	.product_slider_nav a{
		width: 33%;
	}
	.advantage_block {
		flex-wrap: wrap;
		figure{
		width: 47%;
		}
	}	
	.contact_side{
		width: 100%;
	}
		.contact_form label{
			display: block;
			padding: 0 0 15px 0 !important;
			text-align: center;
		}
		.contact_form small{
			text-align: center;
		}
	.logo{
		width: 75%;
	}
}

@include mq($max-width: 450px) {
	.foot_left, .foot_center{
		width: 100%;
		float: none;
		text-align: center;
		margin-bottom: 30px;
	}
	.capabilities_block figure{
		width: 50%;
	}
	.preferences_block figure{
		width: 100%;
		height: auto;
	}
	.c25{
		width: 100%;
	}
	.advantage_block{
		figure{
			width: 100%;
		}
	}
	.integration_content figure{
		float: none;
		width: 100%;
	}
	.mobile-menu{
		&__block{
			width: 280px;
			height: 100vh;
			background:#f3f4f5;
		}
	}
	.mobile-menu__block nav ul a{
		font-size: 20px;
	}
}