.landing{
  background: url(../img/landing-top-bg.jpg) no-repeat top -185px center;
  background-position: top -185px center;
  background-repeat: no-repeat;
  font-family: MuseoSansCyrl;
  .wrapper{
    background: url(../img/landing-center-bg.jpg) no-repeat bottom 100px center;
    background-position: bottom 100px center;
    background-repeat: no-repeat;
  }
  .main{
    padding-bottom: 200px;
    @include mq($max-width: 992px) {
      padding-bottom: 70px;
    }
  }
  .header{
    position: static;
  }
  .navigation{
    color: #fff;
  }
  .navigation ul li a:hover, .navigation ul li a.active{
    border-bottom-color: #fff;
  }
  &__hero{
    padding: 140px 0 180px 0; 
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    @include mq($max-width: 992px) {
      padding: 70px 0;
    }
    h1{
      color: #ffffff;
      font-size: 50px;
      font-weight: 400;
      line-height: 75px;
      padding-bottom: 20px;
      font-weight: 700;
      font-family: MuseoSansCyrl;
      @include mq($max-width: 992px) {
        line-height: 1;
        font-size: 30px;
      }
    }
    p{
      padding-bottom: 40px;
    }
  }
  &__hero-form{
    max-width: 525px;
    box-shadow: 0 20px 40px rgba(95, 104, 113, 0.1);
    border-radius: 38px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    @include transition(all 0.5s);
    input:not(.button){
      background: none;
      flex: 1;
      color: #545353;
      font-size: 18px;
      font-weight: 400;
      line-height: 44px;
      border: none;
      padding-left: 30px;
      &:focus{
        box-shadow: none !important;
      }
      @include mq($max-width: 575px) {
          background: #fff;
          height: 50px;
          width: 100%;
          box-shadow: 0 20px 40px rgba(95, 104, 113, 0.1);
          border-radius: 15px;
          text-align: center;
          margin-bottom: 10px;
       
      }
    }
    .button{
      border-radius: 38px;
      margin: 5px;
      cursor: pointer;
    }
    @include mq($max-width: 992px) {
      margin: 0 auto;
    }
    @include mq($max-width: 575px) {
      display: block;
      text-align: center;
      background: none;
      box-shadow: none;
    }
  }
  &__hero-form-success{
    background: rgba($color: #3cb0fd, $alpha: .8);
    input{
      display: none;
    }
    .landing__hero-form-success-text{
      display: block;
    }
  }
  &__hero-form-success-text{
    color: #fff;
    padding: 15px 30px;
    flex: 1;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    display: none;
    @include mq($max-width: 992px) {
      padding: 15px ;
    }
  }
  &__clients{
    display: block;
    text-align: center;
    padding: 70px 0;
    @include mq($max-width: 992px) {
      background: #fff;
      padding: 35px 0;
    }
  }
  &__clients-row {
    a{
      img{
        opacity: 0.8;
        -webkit-filter: grayscale(100%) brightness(1.3);
        filter: grayscale(100%) brightness(1.3);
        transition: 1s;
      }
      &:hover{
        img{
          opacity: 1;
          -webkit-filter: grayscale(0%) brightness(1);
        filter: grayscale(0%) brightness(1);
        }
      }
    }
  }
  &__box{
    padding: 70px 0;
    color: #212020;
    font-size: 18px;
    font-weight: 300;
    @include mq($max-width: 992px) {
      padding: 35px 0;
      font-size: 14px;
    }
    h3{
      color: #212020;
      font-size: 36px;
      font-weight: 400;
      padding-bottom: 50px;
      @include mq($max-width: 992px) {
        font-size: 24px;
        padding-bottom: 20px;
      }
    }
    p{
      padding-bottom: 25px;
      line-height: 1.8;
    }
    dl{
      margin-bottom: 35px;
      padding-left: 82px;
      position: relative;
      font-weight: 300;
      &:before, &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 70px;
        height: 70px;
        box-sizing: content-box;
        border-radius: 50%;
        background-color: rgba($color: #fbcd04, $alpha: .2);
      }
      &:after{
        width: 50px;
        height: 50px;
        top: 10px;
        left: 10px;
        background-color: rgba($color: #fbcd04, $alpha: .5);
      }
      dt{
        padding-bottom: 20px;
        color: #212020;
        font-size: 22px;
        font-weight: 600;
      }
    }
    &.landing__senior{
      .landing__workspace-icon{
        background: #03cea4;
      }
    }
    &.landing__vacation{
      .landing__workspace-icon{
        background: #f15946;
      }
      .landing__workspace-item{
        box-shadow: none;
      }
    }
  }
  &__workspace-item{
    text-align: center;
    box-shadow: 0 10px 20px rgba(1, 1, 1, 0.05);
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 25px;
    padding: 50px 40px;
    font-weight: 300;
    font-family: MuseoSansCyrl;
    font-size: 16px;
    height: calc(100% - 25px);
    @include mq($max-width: 992px) {
      padding: 15px;
    }
    h6{
      color: #313131;
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
      padding-bottom: 15px;
      &.violet{
        color: #6665dd;
      }
      &.blue{
        color: #43bccd;
      }
      &.dark-blue{
        color: #3952b5;
      }
      &.cyan{
        color: #007ea7;
      }
      &.light-blue{
        color: #3cb0fd;
      }
      &.green{
        color: #1a7573;
      }
      &.yellow{
        color: #fabd05;
      }
      &.red{
        color: #cc434a;
      }
      &.dark-violet{
        color: #4c2b8f;
      }
    }
    &.landing__workspace-item-no_bg{
      background: none;
      box-shadow: none;
      .landing__workspace-icon{
        background: #f7f7f7;
      }
    }
  }
  &__workspace-icon{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    background-color: #fbcd04;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      display: block;
    }
    &.violet{
      background: #6665dd;
    }
    &.dark-violet{
      background: #4c2b8f;
    }
    &.blue{
      background: #43bccd;
    }
    &.cyan{
      background: #007ea7;
    }
    &.light-blue{
      background: #3cb0fd;
    }
    &.dark-blue{
      background: #3952b5;
    }
    &.green{
      background: #1a7573;
    }
    &.yellow{
      background: #fabd05;
    }
    &.red{
      background: #cc434a;
    }
    &.no-bg{
      background: none;
      height: auto;
    }
  }
  &__story-box{
    box-shadow: 0 20px 50px rgba(1, 1, 1, 0.05);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 50px 0;
    margin-top: 20px;
    @include mq($max-width: 767px) {
      padding: 15px ;
    }
    h5{
      color: #383838;
      font-size: 22px;
      font-weight: 600;
      padding-bottom: 30px;
    }
    p{
      font-weight: 300;
    }
  }
  &__story-img{
    position: relative;
    margin-left: -30px;
    display: block;
    border-radius: 9px;
    width: 100%;
    @include mq($max-width: 767px) {
      margin-left: 0;
      margin-bottom: 20px;
    }
  }
  &__story-link{
    text-align: center;
    color: #383838;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 50px;
    a{
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  &__bottom{
    background: #fff url(../img/landing__сoworking-2.png) no-repeat bottom right 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 80px 0;
    font-size: 22px;
    margin-bottom: 60px;
    b{
      color: #fbcd04;
      font-size: 80px;
      font-weight: 400;
      line-height: 30px;
      @include mq($max-width: 767px) {
        font-size: 40px;
      }
    }
    strong{
      color: #fbcd04;
      font-size: 36px;
      font-weight: 400;
      @include mq($max-width: 767px) {
        font-size: 20px;
      }
    }
    p{
      padding-bottom: 40px;
      &:last-child{
        padding-bottom: 0;
      }
      span{
        padding: 0 30px 0 0;
        @include mq($max-width: 767px) {
          display: block;
          padding: 0;
        }
      }
    }
    @include mq($max-width: 992px) {
      text-align: center;
      .text_center{
        margin-bottom: 20px;
      }
    }
  }
  &__slider{
    box-shadow: 0 20px 50px rgba(1, 1, 1, 0.05);
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
    position: relative;
    .slick-arrow{
      position: absolute;
      top: 50%;
      z-index: 2;
      cursor: pointer;
      left: -100px;
      width: 32px;
      height: 22px;
      margin-top: -11px;
      @include hide-text;
      background: url(../img/landing-arrow.png) no-repeat center;
      &.slick-next{
        left: auto;
        right: -100px;
        @include mirror_flip;
      }
      @include mq($max-width: 1100px) {
        opacity: 0;
      }
    }
    .slick-dots{
      position: absolute;
      bottom: -50px;
      left: 0;
      width: 100%;
      li{
        display: inline-block;
        padding: 0 7px;
        @include hide-text;
        &.slick-active{
          button{
            background: #fbcd04;
          }
        }
      }
      button{
        width: 15px;
        border-radius: 50%;
        height: 15px;
        @include hide-text;
        background-color: #212020;  
      }
    }
    &-item{
      padding:  100px;
      padding-top: 40px;
      @include mq($max-width: 767px) {
        padding: 15px;
      }
    }
    h5{
      color: #383838;
      font-size: 22px;
      font-weight: 400;
    }
    figure{
      padding-bottom: 30px;
      img{
        border-radius: 50%;
        margin: 0 auto;
        display: block;
      }
    }
    section{
      padding-bottom: 20px;
      background: url(../img/landing-quote.png) no-repeat left top;
      @include mq($max-width: 767px) {
        background: none;
      }
    }
  }
}
.landing__box-yellow{
  background: #fbcd04;
  padding-bottom: 220px;
  @include mq($max-width: 992px) {
    padding-bottom: 70px;
  }
}
.landing__accordion{
  position: relative;
  margin-top: -210px;
  @include mq($max-width: 992px) {
    margin-top: 0;
  }
  h3{
    color: #212020;
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 20px;
    @include mq($max-width: 992px) {
      font-size: 24px;
    }
  }
}
  .landing__accordion-section{
    box-shadow: 0 10px 20px rgba(1, 1, 1, 0.05);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 60px 70px;
    margin-bottom: 70px;
    @include mq($max-width: 992px) {
      padding: 20px;
      margin-bottom: 40px;
      margin-top: 50px;
    }
  }
    .landing__accordion-trigger{
      color: #212020;
      font-size: 22px;
      font-weight: 700;
      padding-left: 60px;
      position: relative;
      cursor: pointer;
      padding: 25px 0 25px 60px;
      @include mq($max-width: 992px) {
        padding: 10px 0 10px 60px;
        font-size: 18px;
      }
      &.active{
        .landing__accordion-ico{
          i{
            &:before{
              content: "\f077";
            }
          }
        }
      }
    }
    .landing__accordion-ico{
      position: absolute;
      left: 0;
      top: 19px;
      background: #fbcd04;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      @include mq($max-width: 992px) {
       top: 4px;
      }
    }
    .landing__accordion-content{
      padding-bottom: 20px;
      padding-left: 60px;
      display: none;
    }
.landing-illustration-list{
  counter-reset: list1;
   dl:after{
    counter-increment: list1;
    content: counter(list1) ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fbcd05;
    font-size: 50px;
    font-weight: 900;
    line-height: 44px;
    text-transform: uppercase;
    background: none;
  }
}

.villa-landing__hero{
  background: url(../img/landing-top-bg13.png) no-repeat center ;
  background-size: auto 100% ;
  margin: 100px 0 115px 0;
  color: #303030;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.9px;
  padding: 80px 0;
  h1{
      color: #303030;
      font-size: 50px;
      font-weight: 700;
      letter-spacing: 2.5px;
      padding-bottom: 30px;
      @include mq($max-width: 992px) {
        font-size: 30px;
        padding-bottom: 15px;
      }
  }
  section{
    padding: 50px 0 30px 0;
    p{
      color: #3c3c3c;
      font-size: 22px;
      font-weight: 100;
      span{
        padding: 0 10px 0 0;
      }
      strong, b{
        color: #fbcd04;
        font-weight: 500;
        font-size: 48px;
        letter-spacing: 0.48px;
      }
      b{
        font-size: 36px;
      }
    }
  }
  @include mq($max-width: 992px) {
    background: none;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    article{
      padding-top: 20px;
    }
  }
}
.landing__box-villa{
  .landing__workspace-item{
    padding: 25px;
    p{
      color: #000000;
      font-size: 16px;
      font-weight: 100;
      line-height: 1.2;
      letter-spacing: 0.16px;
    }
  }
}