.portal-wrapper{
  .header{
    background: #0070bf;
    .button{
      border-radius: 6px;
      border: 1px solid #fff;
      height: 50px;
      padding: 0 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      float: right;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      background: none;
      img, i{
        padding-right: 14px;
      }
      &:hover{
        opacity: 0.8;
      }
      @include mq($max-width: 575px) {
        padding: 0 10px;
        height: 40px;
        font-size: 12px;
        img{
          max-width: 30px;
        }
      }
    }
  }
}
.portal{
  padding: 100px 0;
  &__sidebar{
    padding-bottom: 30px;
    li{
      padding-bottom: 9px;
      a{
        display: flex;
        color: #ffffff;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0px;
        background: #0070bf;
        padding: 15px 12px;
        align-items: center;
        text-decoration: none;
        @include mq($max-width: 992px) {
          font-size: 16px;
        }
        img{
          padding: 0 24px 0 0;
          @include mq($max-width: 992px) {
            padding: 0 10px 0 0;
            max-width: 30px;
          }
        }
        &:hover, &.active{
          opacity: 0.9;
        }
      }
    }
  }
  &__main{
    padding-bottom: 40px;
    hr{
      border: none;
      margin: 20px 0;
      display: block;
      border-top: 1px solid #d4d4d4;
    }
  }
    &__main-text{
      color: #595959;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.9px;
      a{
        color: #0070bf;
        letter-spacing: 0.8px;
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
      p{
        padding-bottom: 15px;
      }
      h1,h2{
        color: #595959;
        padding-bottom: 24px;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 1.2px;
      }
    }
    &__main-center{
      padding: 25px 0;
      p{
        color: #595959;
        font-size: 16px;
        font-weight: 300;
        a{
          color: #0070bf;
          letter-spacing: 0.8px;
          text-decoration: underline;
          &:hover{
            text-decoration: none;
          }
        }
      }
      table{
        td{
          color: #595959;
          font-size: 18px;
          font-weight: 300;
          line-height: 48px;
          color: #3e3e3e;
          font-family: "Museo Sans Cyrl -700";
          letter-spacing: 0.9px;
        }
      }
    }
    &__main-table{
      table{
        td{
          color: #595959;
          font-size: 18px;
          font-weight: 700;
          color: #3e3e3e;
          letter-spacing: 0.9px;
          padding: 15px 23px;
          background: #efefef;
          &:first-child{
            font-weight: 300;
          }
        }
        tr{
          &:nth-child(2n){
            td{
              background: #fff;
            }
          }
        }
      }
    }
    &__main-form{
      select, 
      input:not(.button){
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.44);
        background-color: #ffffff;
        border: none;
        height: 49px;
        width: 100%;
        border-radius: 22px;
        padding: 0 25px;
        color: #595959;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.8px;
        &.small{
          width: 261px;
          @include mq($max-width: 575px) {
            width: 100%;
          }
        }
      }
      .button{
        background-color: #0070bf;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.9px;
        padding: 14px;
        text-transform: none;
        &.small{
          width: 261px;
        }
      }
    }
    &__main-form-item{
      margin-bottom: 14px;
    }
    &__main-history{
      color: #383838;
      font-size: 16px;
      font-weight: 400;
      padding-top: 20px;
      background: #fff;
      padding-bottom: 40px;
      th{
        text-align: left;
        font-weight: 400;
        padding: 16px 20px;
        border-bottom: 5px solid rgba(0,0,0, 0.1);
      }
      td{
        padding: 16px 20px;
        border-bottom: 1px solid rgba(0,0,0, 0.1);
      }
      strong{
        display: block;
      }
      @include mq($max-width: 992px) {
        max-width: 767px;
        overflow-x: auto;
      }
    }
}